@import "libs/variables";
@import "modules/icons";
@import "modules/buttons";
@import "libs/functions";
@import "libs/responsive";

.portfolio-container {
  display: grid;
  grid-template-rows: repeat(4, 688px);
  row-gap: rem(72);
  margin-bottom: rem(80);

  img {
    width: 100%;
    display: block;
    object-fit: cover;
    min-height: rem(288);
    max-height: rem(314);
  }

  & > * {
    a {
      width: rem(175);
    }

    p {
      text-align: left;
      margin: rem(24) 0;
    }
  }
}

#bookmark-button,
#manage-button span {
  padding: rem(17) rem(32);
}

.portfolio-manage {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rem(32);

  .manage-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
}

.portfolio-bookmark {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rem(32);
  align-items: flex-end;

  .bookmark-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
}

.portfolio-insure {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rem(32);

  .insure-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
}

.portfolio-fylo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(32);
  grid-auto-flow: dense;

  .fylo-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
}

// very small 350px
@media #{$extraSmall-up} {
  //
}

//768px
@media #{$medium-up} {
  .portfolio-container {
    grid-template-rows: repeat(4, 418px);
    margin-top: rem(54);
    margin-bottom: rem(96);
    row-gap: rem(80);

    img {
      max-height: rem(500);
      min-height: rem(314);
      min-width: rem(339);
    }

    & > * {
      p {
        font-size: rem(15);
        margin-top: rem(29);
        margin-bottom: rem(35);
      }
    }
  }

  .portfolio-manage {
    grid-template-columns: 339px auto;
    grid-gap: rem(69);
    align-items: center;

    .manage-body {
      padding-top: rem(32);
      padding-bottom: rem(50);
    }
  }

  .portfolio-bookmark {
    grid-template-columns: 1fr 339px;
    grid-gap: rem(69);
    align-items: center;

    .bookmark-body {
      padding-top: rem(32);
      padding-bottom: rem(50);
    }

    .bookmark-img {
      order: 2;
    }
  }

  .portfolio-insure {
    grid-template-columns: 339px 1fr;
    align-items: center;
    grid-gap: rem(69);

    .insure-body {
      padding-top: rem(32);
      padding-bottom: rem(50);

      p {
        margin-bottom: rem(27);
      }
    }
  }

  .portfolio-fylo {
    grid-template-columns: 1fr 339px;
    column-gap: rem(69);
    align-items: center;

    .fylo-body {
      padding-top: rem(32);
      padding-bottom: rem(51);

      p {
        margin-top: rem(29);
        margin-bottom: rem(34);
      }
    }

    .fylo-img {
      order: 2;
    }
  }
}

//992px
@media #{$large-up} {
  //
}

//1200px
@media #{$ExtraLarge-up} {
  .portfolio-container {
    margin-bottom: rem(150);
    grid-template-rows: repeat(4, 500px);
    padding-bottom: 0;

    & > * {
      p {
        margin-top: rem(28);
        margin-bottom: rem(24);
        font-size: rem(16);
        text-align: left;
      }
    }
  }

  .portfolio-manage {
    grid-template-columns: 540px 350px;
    grid-template-rows: minmax(auto, 500px);
    grid-gap: rem(125);
    justify-content: start;

    .manage-body {
      max-height: 100%;
      height: rem(500);
      padding-top: rem(103);
      padding-bottom: rem(103);
    }
  }

  .portfolio-bookmark {
    grid-template-columns: 350px 540px;
    grid-template-rows: minmax(auto, 500px);
    grid-gap: rem(125);
    justify-content: end;

    .bookmark-body {
      max-height: 100%;
      height: rem(500);
      padding-top: rem(103);
      padding-bottom: rem(103);
    }
  }

  .portfolio-insure {
    grid-template-columns: 540px 350px;
    grid-template-rows: minmax(auto, 500px);
    grid-gap: rem(125);
    justify-content: start;

    .insure-body {
      max-height: 100%;
      height: rem(500);
      padding-top: rem(103);
      padding-bottom: rem(103);

      p {
        margin-bottom: rem(24);
      }
    }
  }

  .portfolio-fylo {
    grid-template-columns: 350px 540px;
    grid-template-rows: minmax(auto, 500px);
    grid-gap: rem(125);
    justify-content: end;

    .fylo-body {
      max-height: 100%;
      height: rem(500);
      padding-top: rem(103);
      padding-bottom: rem(103);

      p {
        margin-top: rem(28);
        margin-bottom: rem(24);
      }
    }
  }
}

//1440px
@media #{$XExtraLarge-up} {
  //
}
