@import 'libs/variables';
@import 'modules/icons';
@import 'modules/buttons';
@import 'libs/functions';
@import 'libs/responsive';

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rem(72);
}

.portfolio-manage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(32);
  grid-auto-flow: dense;

  .manage-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    p {
      @extend .body2;
      padding: rem(24 ) 0 rem(24) 0;
    }
  }
}

.portfolio-bookmark {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(32);
  grid-auto-flow: dense;

  .bookmark-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    p {
      font-size: rem(15);
      text-align: left;
      padding: rem(24 ) 0 rem(24) 0;
    }
  }
}

.portfolio-insure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(32);
  grid-auto-flow: dense;

  .insure-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    p {
      font-size: rem(15);
      padding: rem(24 ) 0 rem(24) 0;
    }
  }
}

.portfolio-fylo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(32);
  grid-auto-flow: dense;

  .fylo-body {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    p {
      font-size: rem(15);
      text-align: left;
      padding: rem(24 ) rem(18) rem(24) 0;
    }
  }
}


// very small 350px
@media #{$extraSmall-up} {

}

//768px
@media #{$medium-up} {
  .portfolio-container {
    margin-top: rem(54);
  }

  .portfolio-manage {
    grid-template-columns: 339px 1fr;
    grid-template-rows: auto;
    grid-gap: rem(69);
    align-items: center;

    .manage-body {
      padding-top: rem(32);
      padding-bottom: rem(50);
    }
  }

  .portfolio-bookmark {
    grid-template-columns: 1fr 339px;
    grid-template-rows: auto;
    grid-gap: rem(69);
    align-items: center;
    grid-template-areas:
      "bookmark-body bookmark-img";

    .bookmark-body {
      padding-top: rem(32);
      padding-bottom: rem(50);
    }

    .bookmark-img {
      grid-area: bookmark-img;
    }

    .bookmark-body {
      grid-area: bookmark-body;
    }
  }

  .portfolio-insure {
    grid-template-columns: 339px 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-gap: rem(69);

    .insure-body {
      padding-top: rem(32);
      padding-bottom: rem(50);
    }
  }

  .portfolio-fylo {
    grid-template-columns: 1fr 339px;
    grid-template-rows: auto;
    align-items: center;
    grid-gap: rem(69);
    grid-template-areas:
      "fylo-body fylo-img";

    .fylo-body {
      padding-top: rem(32);
      padding-bottom: rem(50);
    }

    .fylo-img {
      grid-area: fylo-img;
    }

    .fylo-body {
      grid-area: fylo-body;
    }
  }
}

//992px
@media #{$large-up}  {
  .portfolio-manage {
    grid-template-columns: 420px 1fr;
    grid-gap: rem(80);
    margin-right: rem(94);

    .manage-body {
      p {
        max-width: rem(350);
        font-size: rem(16);
        text-align: left;
      }
    }
  }

  .portfolio-bookmark {
    margin-left: rem(94);

    .bookmark-body {
      p {
        max-width: rem(350);
        font-size: rem(16);
        text-align: left;
      }
    }
  }

  .portfolio-insure {
    margin-right: rem(94);

    .insure-body {
      p {
        max-width: rem(350);
        font-size: rem(16);
        text-align: left;
      }
    }
  }

  .portfolio-fylo {
    margin-left: rem(94);

    .fylo-body {
      p {
        max-width: rem(350);
        font-size: rem(16);
        text-align: left;
      }
    }
  }
}

//1200px
@media #{$ExtraLarge-up} {
  .portfolio-manage {
    grid-template-columns: 500px 1fr;
    grid-gap: rem(125);
    justify-content: center;

    .manage-img {
      height: 100%;
    }

    .manage-body {
      max-height: 100%;
      padding-top: rem(100);
      padding-bottom: rem(100);

      p {
        font-size: rem(16);
      }
    }
  }

  .portfolio-bookmark {
    grid-template-columns: 1fr 500px;
    grid-gap: rem(125);
    justify-content: center;

    .bookmark-body {
      max-height: 100%;
      padding-top: rem(100);
      padding-bottom: rem(100);
    }
  }

  .portfolio-insure {
    grid-template-columns: 500px 1fr;
    grid-gap: rem(125);
    justify-content: center;

    .insure-body {
      max-height: 100%;
      padding-top: rem(100);
      padding-bottom: rem(100);
    }
  }

  .portfolio-fylo {
    grid-template-columns: 1fr 500px;
    grid-gap: rem(125);
    //margin-left: rem(97);
    justify-content: center;

    .fylo-body {
      max-height: 100%;
      padding-top: rem(103);
      padding-bottom: rem(103);
    }
  }
}
//1440px
@media #{$XExtraLarge-up} {
  //
}


