/* You can add global styles to this file, and also import other style files */

@import 'libs/variables';
@import 'libs/functions';
@import 'libs/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'modules/buttons';
@import 'modules/icons';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  height: 100%;
  margin: 0;
  font-family: $base-font-family;
  line-height: rem($base-line-height);
  font-weight: $font-weight-regular;
  color: $color-primary-dark-blue;
  //background-color: $color-secondary-very-light-gray;

  background: url('../assets/mobile_home_screen.png') top center / cover no-repeat $color-secondary-light-gray;
  //linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6))
}

@media (min-width: 768px) {
  //body {
  //
  //  background: url('../assets/tablet_home_screenshoot.png') top center / cover no-repeat $color-secondary-light-gray;
  //}
}





