/* You can add global styles to this file, and also import other style files */

@import 'libs/variables';
@import 'libs/functions';
@import 'libs/responsive';
@import 'libs/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'modules/buttons';
@import 'modules/icons';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  height: 100%;
  margin: 0;
  font-family: $base-font-family;
  line-height: rem($base-line-height);
  font-weight: $font-weight-regular;
  color: $color-primary-dark-blue;
  //background-color: $color-secondary-very-light-gray;

  //background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
  //url('../assets/mobile-portfolio-detail-manage.jpg') top center / cover no-repeat;

}

@media (min-width: 768px) {
  body {
    //background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    //  url('../assets/tablet-portfolio-detail-manage.jpg') top center / cover no-repeat $color-secondary-light-gray;
  }
}

//1200px
@media #{$ExtraLarge-up} {
  body {
    //background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    //url('../assets/desktop-portfolio-detail-manage.jpg') top center / cover no-repeat;
  }
}





