@import 'libs/functions';

.contact_banner {
  margin: rem(80) 0;
}

.banner_container {
  padding: 0 rem(32);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: rem(40);

  h2 {
    text-align: center;
  }
}
