@import 'libs/functions';

.contact_banner {
  //border: 1px solid violet;
  margin: rem(64) rem(29) rem(60) rem(30);
}
.banner_container {
  text-align: center;
  padding: rem(21) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(36);

  h2 {
    text-align: center;
  }
  a {
    width: 162px;
  }
}
