@import 'libs/functions';
@import 'libs/variables';

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(40);
  width: 100%;
}

.footer-block-left {
  font-size: rem(12);
  letter-spacing: rem(2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(40);
}

.footer-block-right .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: rem(12);
}
.socials a:hover {
  color: $color-primary-cyan;

  .socials-icons  {
    fill: $color-primary-cyan;
  }
}

.footer-nav a:hover {
  color: $color-primary-cyan;
}
