@import 'libs/variables';
@import 'modules/buttons';
@import 'libs/functions';
@import 'libs/responsive';


//banner bottom
.page-banner {
  margin: rem(64) auto rem(80) auto;
}

.banner_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;

  grid-gap: rem(40);
  text-align: center;

  a {
    margin: 0 auto;
    min-width: rem(162);
  }

  .banner-separator {
    display: none;
  }
}

//768px
@media #{$medium-up} {
  .page-banner {
    //margin-top: rem(80);
    margin-top: rem(96);
    margin-bottom: rem(96);
  }
  .banner_container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: rem(32);

    a {
      margin: 0;
    }

    h2 {
      text-align: start;
      max-width: rem(350);
      //padding-right: rem(6);
    }

    .banner-separator {
      flex: 1;

      max-width: 100%;
      display: block;
      min-width: rem(113);
      height: 1px;
      background-color: $color-primary-Grayish-dark-blue;
      opacity: 0.25;
    }
  }

}

//1440px
@media #{$XExtraLarge-up} {
  .page-banner {
    margin: rem(150) auto;
  }
}
