@import 'libs/variables';
@import 'modules/icons';
@import 'modules/buttons';
@import 'libs/functions';
@import 'libs/responsive';

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "home_hero"
    "home_about_me";
}

.home_hero {
  grid-area: home_hero;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(24);
  grid-auto-flow: dense;

  position: relative;
  background-color: $color-secondary-very-light-gray;

  & > * {
    background-color: $color-secondary-very-light-gray;
  }

  .home_hero_title {
    height: 100%;

    a {
      margin-top: rem(32);
    }
  }
}

.home_about_me {
  grid-area: home_about_me;

  margin-top: rem(106);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(32);

  .home_about_me_body {
    padding-top: rem(32);
    padding-bottom: rem(51);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    p {
      padding: rem(28) 0 rem(24) 0;
    }

    #about-button {
      max-width: 100%;
      width: rem(202);
    }
  }
}

//600px
@media #{$small-up} {
  .home_hero {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: unset;

    .home_hero_img {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      z-index: 4;
    }

    .home_hero_title {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      z-index: 6;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: rem(35) rem(35) 0 0;

      a {
        margin-top: rem(48);
      }
    }
  }
}

//768px
@media #{$medium-up} {
  .home_hero {
    .home_hero_title {
      padding: rem(56) rem(56) 0 0;

      a {
        margin-top: rem(47);
      }
    }
  }

  .home_about_me {
    grid-template-columns: 281px 1fr;
    grid-template-rows: auto;
    grid-gap: rem(69);
    margin-top: rem(96);

    .home_about_me_img {
      max-height: rem(600);
      width: 100%;
    }

    .home_about_me_body {
      padding-top: rem(51);
      padding-bottom: rem(46);
    }
  }
}

//992px
@media #{$large-up} {
  .home_hero {
    .home_hero_title {
      max-width: rem(445);

      a {
        margin-top: rem(45);
      }
    }
  }

  .home_about_me {
    grid-gap: rem(90);
    padding-right: rem(70);
  }
}

//1200px
@media #{$ExtraLarge-up} {
  .home_about_me {
    grid-template-columns: 540px 1fr;
    grid-template-rows: auto;
    grid-gap: rem(100);

    padding-right: rem(70);

    .home_about_me_img {
      max-height: rem(600);
      width: 100%;
    }
  }
}

//1440px
@media #{$XExtraLarge-up} {
  .home_hero {
    .home_hero_title {
      padding: rem(56) rem(55) 0 0;

      h2 {
        line-height: rem(50);
        letter-spacing: -0.45px;
        font-size: rem(50);
        text-align: left;
      }

      a {
        margin-top: rem(53);
      }
    }
  }

  .home_about_me {
    grid-gap: rem(125);
    margin-top: rem(150);

    padding-right: rem(95);

    .home_about_me_img {
      max-height: rem(600);
      width: 100%;
    }

    .home_about_me_body {
      text-align: left;
    }
  }
}

