@import 'libs/variables';
@import 'modules/icons';
@import 'modules/buttons';
@import 'libs/functions';
@import 'libs/responsive';
@import 'base/typography';

.home-container {
  display: grid;
  grid-template-rows: auto 995px;
  grid-gap: rem(96);
  margin-bottom: rem(115);

  img {
    width: 100%;
    display: block;
    object-fit: cover; /* new */
  }
}

.home_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: rem(24);

  position: relative;
  background-color: $color-secondary-very-light-gray;

  & > * {
    background-color: $color-secondary-very-light-gray;
  }

  .home_hero_title {
    a {
      margin-top: rem(32);
    }
  }
}

.home_about_me {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rem(32);

  .home_about_me_body {
    padding-top: rem(32);
    padding-bottom: rem(51);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    p {
      //padding: rem(28) 0 rem(24) 0;
      margin-top: rem(28);
      margin-bottom: rem(24);
    }

    #about-button {
      max-width: 100%;
      width: rem(202);
    }
  }
}

//600px
@media #{$small-up} {
  .home_hero {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: unset;
    position: relative;

    .home_hero_img {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      z-index: 4;

      img {
        max-height: 600px;
      }
    }

    .home_hero_title {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      z-index: 6;

      padding: rem(56) rem(56) 0 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .home_about_me {
    .home_about_me_img {
      img {
        max-height: 600px;
      }
    }
  }
}

//768px
@media #{$medium-up} {
  .home-container {
    grid-template-rows: repeat(2, 600px);
    margin-top: rem(7);
    margin-bottom: rem(83);
  }
  .home_hero_img {
    //background: white url('~src/assets/images/homepage/tablet/image-homepage-hero@2x.jpg');
  }

  .home_hero {
    grid-gap: unset;

    .home_hero_title {
      padding-top: rem(56);
      width: rem(514);

      a {
        margin-top: rem(48);
        height: 48px;
      }
    }

    .home_hero_img {
      img {
        height: 100%;
        max-height: 600px !important;
      }
    }
  }

  .home_about_me {
    //grid-template-columns: 281px 339px;
    grid-template-columns: 281px auto;
    grid-template-rows: auto;
    grid-gap: rem(69);

    .home_about_me_img {
      max-height: rem(600);
      width: 100%;
    }

    .home_about_me_body {
      padding-top: rem(51);
      padding-bottom: rem(46);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        max-width: rem(560);
      }
    }
  }
}

//992px
@media #{$large-up} {
  .home_about_me {
    grid-gap: rem(125);
  }
}

//1200px
@media #{$ExtraLarge-up} {
  .home-container {
    margin-top: rem(14);
    grid-gap: rem(150);
  }

  .home_hero {

    .home_hero_title {
      max-width: rem(445);
      max-height: rem(357);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: rem(50);
        line-height: rem(50);
        letter-spacing: -0.45 px;
      }

      //a {
      //  margin-top: rem(53);
      //}
    }
  }

  .home_about_me {
    grid-template-columns: 540px 350px;
    grid-template-rows: auto;
    grid-gap: rem(125);
    justify-content: start;
  }
}

//1440px
@media #{$XExtraLarge-up} {
//
}

