@import 'libs/variables';
//@import 'modules/buttons';
@import 'modules/icons';
@import 'libs/functions';
@import 'libs/responsive';

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

//Page body
.page-body {
  padding: 0 rem(32);
  margin-top: rem(40);
}

//768px
@media #{$medium-up} {
  .page-body {
    padding: 0 rem(41);
  }
}

//992px
@media #{$large-up}  {
  .page-body {
    padding: 0 rem(65);
    margin-top: rem(47);
  }
}

//1200px
@media #{$ExtraLarge-up} {
  .page-body {
    padding: 0 rem(80);
    margin-top: rem(54);
  }
}

//1440px
@media #{$XExtraLarge-up} {
  .page-body {
    padding: 0 rem(165);
    margin-top: rem(54);
  }
}

