<ng-container>
  <div class="wrapper">
<!--    <header class="page-header">This is the header</header>-->
    <app-header></app-header>

    <main class="page-body">
      <p>
        Main page content here, add more if you want to see the footer push
        down.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
        facere voluptatum saepe, vitae ut error quis sint odit tempora voluptate
        autem magnam neque nihil, dicta aperiam minima, distinctio labore!
        Atque.Ipsum debitis reprehenderit corporis animi totam dolor.
      </p>
    </main>
    <footer class="page-footer">Sticky footer</footer>

    <!--&lt;!&ndash;    <header class="page-header">&ndash;&gt;-->
    <!--&lt;!&ndash;      This is the header&ndash;&gt;-->
    <!--&lt;!&ndash;    </header>&ndash;&gt;-->
    <!--    <app-header></app-header>-->

    <!--    <main class="page-body">-->
    <!--      <ng-container>-->
    <!--        <router-outlet></router-outlet>-->

    <!--        <app-contact-banner></app-contact-banner>-->
    <!--      </ng-container>-->

    <!--    </main>-->

    <!--&lt;!&ndash;    <footer class="page-footer">&ndash;&gt;-->
    <!--      <app-footer></app-footer>-->
    <!--    </footer>-->

    <!--    <header class="page-header">-->
    <!--    <app-header></app-header>-->
    <!--    </header>-->

    <!--    <main class="page-body">-->
    <!--      <router-outlet></router-outlet>-->
    <!--    </main>-->

    <!--    <app-contact-banner></app-contact-banner>-->

    <!--    <footer class="page-footer">-->
    <!--      <app-footer></app-footer>-->
    <!--    </footer>-->
  </div>
</ng-container>
