<ng-container>
  <div class="wrapper">
<!--    <header class="page-header">-->
<!--      This is the header-->
<!--    </header>-->
    <app-header></app-header>

    <main class="page-body">
      <ng-container>
        <router-outlet></router-outlet>

        <app-contact-banner></app-contact-banner>
      </ng-container>

    </main>

<!--    <footer class="page-footer">-->
      <app-footer></app-footer>
<!--    </footer>-->

    <!--    <header class="page-header">-->
    <!--    <app-header></app-header>-->
    <!--    </header>-->

    <!--    <main class="page-body">-->
    <!--      <router-outlet></router-outlet>-->
    <!--    </main>-->

    <!--    <app-contact-banner></app-contact-banner>-->

    <!--    <footer class="page-footer">-->
    <!--      <app-footer></app-footer>-->
    <!--    </footer>-->

  </div>
</ng-container>
