<ng-container>
  <div class="project-fylo-container">
    <div class="project_fylo_hero_img">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="assets/images/detail/desktop/image-fylo-hero@2x.jpg"
        />
        <source
          media="(min-width: 600px)"
          srcset="assets/images/detail/tablet/image-fylo-hero@2x.jpg"
        />
        <img
          src="assets/images/detail/mobile/image-fylo-hero@2x.jpg"
          alt="Fylo hero"
        />
      </picture>
    </div>
    <section class="project_fylo_details">
      <div class="project_fylo_intro">
        <h2>Fylo</h2>
        <p class="intro-description">
          This project was built in pure HTML and CSS. I had mobile and desktop designs to
          work to and built it so that it was fully-responsive. I took a mobile-first approach
          and used modern CSS like Flexbox and Grid for layout purposes.
        </p>
        <div class="project_fylo_skills">
          <p class="skill-one">
            Interaction Design / Front End Development
          </p>
          <p class="skill-two">
            HTML / CSS
          </p>
        </div>
        <a id="view-website" class="btn--secondary">
          <span> Visit Website</span>
        </a>
      </div>

      <div class="project_fylo_body">
        <div class="project_fylo_background">
          <h3>Project Background</h3>
          <p class="text-description">
            This project was a front-end  challenge from Frontend Mentor. It’s a platform that
            enables you to practice building websites to a design and project brief. Each challenge
            includes mobile and desktop designs to show how the website should look at different
            screen sizes. Creating these projects has helped me refine my workflow and solve
            real-world coding problems. I’ve learned something new with each project, helping
            me to improve and adapt my style.
          </p>
        </div>
        <div class="project_fylo_previews">
          <h3 class="previews-title">Static Previews</h3>
          <div class="previews_img">
            <picture>
              <source
                media="(min-width:1200px)"
                srcset="assets/images/detail/desktop/image-fylo-preview-1@2x.jpg"
              />
              <source
                media="(min-width: 600px)"
                srcset="assets/images/detail/tablet/image-fylo-preview-1@2x.jpg"
              />
              <img
                src="assets/images/detail/mobile/image-fylo-preview-1@2x.jpg"
                alt="Preview manage"
              />
            </picture>
            <picture>
              <source
                media="(min-width:1200px)"
                srcset="assets/images/detail/desktop/image-fylo-preview-2@2x.jpg"
              />
              <source
                media="(min-width: 600px)"
                srcset="assets/images/detail/tablet/image-fylo-preview-2@2x.jpg"
              />
              <img
                src="assets/images/detail/mobile/image-fylo-preview-2@2x.jpg"
                alt="Preview manage"
              />
            </picture>
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-projects-nav
    [previousProject]="'insure'"
    [nextProject]="'manage'"
  >
  </app-projects-nav>

  <app-page-banner></app-page-banner>

</ng-container>
