<header class="page-header">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="Site-logo">
  </div>

  <!--        <nav class="menu">-->
  <!--          <a routerLink="/">HOME</a>-->
  <!--          <a routerLink="/">PORTFOLIO</a>-->
  <!--          <a routerLink="/">CONTACT ME</a>-->
  <!--        </nav>-->

  <div class="hide_menu">
    <button class="big"  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
      <mat-icon inline="true">menu</mat-icon>
    </button>
    <!--          <mat-icon class="big">menu</mat-icon>-->
    <mat-menu #menu="matMenu" xPosition="after">
      <div class="menu-container">
        <a routerLink="/">HOME</a>
        <a routerLink="/">PORTFOLIO</a>
        <a routerLink="/">CONTACT ME</a>
      </div>
    </mat-menu>
  </div>
</header>
