@import 'libs/variables';
@import 'modules/icons';
@import 'libs/functions';
@import 'libs/responsive';

.page-header {
  padding: rem(32) rem(32) 0 rem(32);
  font-size: rem(12);
}

.topNav {
  max-width: 1111px !important;
  margin: 0 auto;

  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: rem(32);
  max-height: 100%;
  transition: all 0.5s ease;
  font-size: rem(12);
  letter-spacing: rem(2);

  .menu {
    display: none;
    max-width: 100%;
    color: $color-primary-dark-blue;

    a:hover{
      color: $color-primary-cyan;
    }
  }

  .active-link  {
    color: $color-primary-cyan;
  }

  .show_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .menu-icons {
    .hide_icon {
      display: none;
    }
  }
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
  background-color: $color-primary-Grayish-dark-blue;
  width: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(40) rem(63);
  max-height: 100%;
}

.menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #FFFFFF;
  font-size: rem(12);
  letter-spacing: rem(2);
  text-transform: uppercase;

  & a:hover {
    color: $color-primary-cyan;
  }
}

//600px
@media #{$small-up} {
  ::ng-deep.mat-menu-panel {
    display: none;
  }

  .topNav {
    .menu {
      background-color: transparent;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: rem(42);
    }

    .hide_menu {
      display: none;
    }

    .menu-icons {
      display: none;
    }
  }
}

//768px
@media #{$medium-up} {
  .page-header {
    padding: rem(64) rem(41) 0 rem(41);
  }
}

//992px
@media #{$large-up} {
  .page-header {
    padding-left: rem(65);
    padding-right: rem(65);
  }
}

//1200px
@media #{$ExtraLarge-up} {
  .page-header {
    padding: rem(64) rem(80) 0 rem(80);
  }
}

//1440px
@media #{$XExtraLarge-up} {
  .page-header {
    padding: rem(64) rem(165) 0 rem(165);
  }

}

