<header class="page-header">
  <div class="topNav" id="myTopNav">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="Site-logo">
    </div>
    <nav class="menu" id="menu">
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
      <a [routerLink]="['/portfolio']" routerLinkActive="active-link">Portfolio</a>
      <a [routerLink]="['/contact']" [routerLinkActive]="['active-link']">Contact me</a>
    </nav>

    <div class="hide_menu">
      <button class="big menu_button" (menuOpened)="menuOpened()" (menuClosed)="menuClosed()"
              [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
              mat-icon-button>
        <mat-icon inline="true">{{ icon }}</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after" id="menu_mat">
        <div class="menu-container">
          <a routerLink="/" [routerLinkActive]="['active-link']">Home</a>
          <a [routerLink]="['/portfolio']" [routerLinkActive]="['active-link']">Portfolio</a>
          <a [routerLink]="['/contact']" [routerLinkActive]="['active-link']">Contact me</a>
        </div>
      </mat-menu>
    </div>
  </div>
</header>
